<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="./global.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensive - <%=pageTitle%></title>
  </head>
  <body>
    <%- include("./template/header") %>
    <main>
      <section class="centred-position">
        <p class="error centred-text bold-text">
          Error 404: Página no encontrada.
        </p>
        <p class="centred-text bold-text">
          Por favor, revise la URL insertada.
        </p>
      </section>
    </main>
  </body>
</html>
