<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="./global.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensive - <%=pageTitle%></title>
  </head>
  <body>
    <%- include("./template/header") %>
    <main>
      <section class="centred-position centred-text">
        <p class="bold-text">Mensage enviado satisfactoriamente.</p>
        <p>Recibirás una confirmación en el email que has facilitado.</p>
      </section>
    </main>
  </body>
</html>
