<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="./global.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensive - <%=pageTitle%></title>
  </head>
  <body>
    <%- include("./template/header") %>
    <main>
      <section class="centred-position">
        <h2 class="centred-text">Términos y Condiciones</h2>
        <h3 class="centred-text">
          Esto es un ejemplo de una vista que contiene términos y condiciones
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit ultrices,
          dictum vestibulum facilisi parturient natoque rhoncus felis bibendum,
          cubilia posuere fusce facilisis venenatis nibh turpis. Lectus ante
          sodales hendrerit dis odio sociis per, himenaeos feugiat morbi diam
          blandit litora, aptent arcu faucibus class primis penatibus. Augue
          maecenas tincidunt et non eu sollicitudin nisl massa dictumst neque
          curabitur aliquam interdum, sem habitasse auctor vivamus viverra
          ullamcorper convallis fames taciti consequat elementum tortor, tempus
          vulputate dignissim nisi congue mattis mi curae eget fermentum
          scelerisque conubia. Nullam suspendisse risus ridiculus rutrum commodo
          gravida cum habitant malesuada ac torquent, vehicula a semper montes
          libero pharetra fringilla suscipit enim pretium id, nostra aenean
          mollis donec ultricies platea quis iaculis senectus aliquet.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu,
          scelerisque tempor tempus vestibulum etiam platea netus nibh semper,
          erat cubilia praesent egestas neque imperdiet suscipit. Quam viverra
          rutrum nisi fusce mattis non sed placerat euismod, nisl fermentum at
          magna mollis ac curabitur lobortis. Dui venenatis diam dictumst justo
          sem porttitor purus hac curae, sagittis congue ad libero duis dictum
          senectus aliquam quisque, eros per nostra natoque nam cras sapien
          maecenas. Sollicitudin molestie metus inceptos, rhoncus ultricies
          fringilla cum, pharetra quis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit in, congue
          etiam blandit facilisi interdum class pharetra accumsan, integer
          torquent consequat placerat fusce platea nascetur. Risus suspendisse
          velit neque erat penatibus egestas lacus phasellus quam, ligula nulla
          conubia volutpat sociosqu tempor donec purus, hendrerit aliquam
          lacinia sem ac augue proin litora.
        </p>
      </section>
    </main>
  </body>
</html>
